<div class="container">
  <div>
    <p>
      <strong><%= session[:name] %></strong>, on average you wait <strong><%= @avg_w_time %> minutes</strong> before for your Uber picks you up.
      Your average mileage is <strong><%= @avg_miles %> miles</strong>.
    </p>

    <p>Here are your recent trips information.</p>
  </div>

  <ul class="timeline">
    <% for month in @history %>
      <li><div class="tldate"><%= Time.new(*month.first.split("-")).strftime("%B - %Y") %></div></li>
      <% month.last.each_with_index do |trip, i| %>
        <li class="<%= timeline_class_for(i) %>">
          <div class="timeline-badge"><i class="glyphicon glyphicon-road"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= trip["distance"].to_f.round(2) %> Miles</h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> <%= trip_time(trip) %>
                </small>
              </p>
            </div>
            <div class="timeline-body">
              <p>
                Start location unavailable
                <%#= trip["start_location"]["address"] %>
                <span class="glyphicon glyphicon-arrow-right"></span>
                End location unavailable
                <%#= trip["end_location"]["address"] %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
