<div class="container">
  <div>
    <p>
      <strong><%= session[:name] %></strong>, on average you wait <strong><%= stats[:avg_w_time] %> minutes</strong> before for your Uber picks you up.
      Your average mileage is <strong><%= stats[:avg_miles] %> miles</strong>.
    </p>

    <p>Here is your recent trips information.</p>
  </div>

  <ul class="timeline">
    <% for month in @history %>
      <li><div class="tldate"><%= Time.new(*month.first.split("-")).strftime("%B - %Y") %></div></li>
      <% month.last.each_with_index do |trip, i| %>
        <li class="<%= timeline_class_for(i) %>">
          <div class="timeline-badge"><i class="glyphicon glyphicon-road"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title"><%= trip["distance"].to_f.round(2) %> Miles</h4>
              <p>
                <small class="text-muted">
                  <i class="glyphicon glyphicon-time"></i> <span class="trip-time" data-start-time="<%= iso_time(trip['start_time']) %>" data-end-time="<%= iso_time(trip['end_time']) %>"></span>
                </small>
              </p>
            </div>
            <div class="timeline-body">
              <p>
                <%= trip.fetch("start_location", {})["address"] || "Not available" %>
                <span class="glyphicon glyphicon-arrow-right"></span>
                <%= trip.fetch("end_location", {})["address"] || "Not available" %>
              </p>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
